  <%= form_with(model: @client, local: true, class: 'contact-form') do |form| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <p>Ошибка ввода данных</p>

          <ul>
          <% @client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="form-group">
                <label class="bmd-label-floating">Ваше имя</label>
                <%= form.text_field :name, id: :client_name, class: 'form-control'%>
            </div>
          </div>
    </div>
    <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="form-group">
                <label class="bmd-label-floating">Ваша фамилия</label>
                <%= form.text_field :last_name, id: :client_last_name, class: 'form-control'%>
            </div>
          </div>
    </div>
    <div class="row">    
          <div class="col-md-8 ml-auto mr-auto text-center">
              <div class="form-group">
                  <label class="bmd-label-floating">Ваш Email</label>
                  <%= form.text_field :email, id: :client_email, class: 'form-control' %>
              </div>
          </div>
    </div>
    <div class="row">    
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="form-group">
                <label class="bmd-label-floating">Ваш номер телефона</label>       
                <%= form.text_field :phone, id: :client_phone, class: 'form-control' %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <h5 class="text-center description">Оставляя заявку вы соглашаетесь с политикой конфеденциальности.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
            <%= form.submit 'Оставить заявку', class: 'btn btn-warning btn-raised'%>
        </div>
    </div>
<% end %>

